*{
	margin: 0px;
	padding:0px;
}
.top-bar-sec{
	background-color: #d49925;
	padding: 15px;
	text-align: center;
}
.top-bar-sec p{
	font-size: 16px;
	line-height: 14px;
	color: #ffffff;
	font-weight: 400;
	font-family: "Poppins";
	margin-bottom: 0px;
}

.top-bar-sec .cust-new{
	width: calc(90% - 0px);
	margin: 0 auto;
}
.logo-sec{
	background-color: #fff;
	padding: 15px 0px;
}
.logo-sec .custom-logo-sec {
	display: flex;
	align-items: center;
	width: calc(90% - 0px);
	margin: 0 auto;
}
.logo-sec .custom-logo-sec .tp-social-icon {
	display: flex;
	align-items: center;
	justify-content: start;
}
.logo-sec .custom-logo-sec .tp-social-icon a i{
	font-size: 20px;
	color: #234336;
	border: 1px solid;
	border-radius: 50%;
	width: 35px;
	height: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 5px;
}
.logo-sec .custom-logo-sec .tp-social-icon a{
	text-decoration: none;
	transition: all 0.5s ease;
}
.logo-sec .custom-logo-sec .tp-social-icon a:hover i{
	color: #d39923;
}
.logo-sec .custom-logo-sec .logo-img {
    text-align: center;
}
.logo-sec .custom-logo-sec .search-container {
	text-align: right;
	position: relative;
}
.logo-sec .custom-logo-sec .search-container input[type="text"] {
	font-size: 14px;
	padding: 15px 50px 15px 20px;
	width: 100%;
	border-radius: 25px;
	border: 1px solid #f6f6f6;
	background: #f6f6f6;
	color: #000;
	position: relative;
	outline: none;
}
.logo-sec .custom-logo-sec .search-container button {
	font-size: 18px;
	cursor: pointer;
	position: absolute;
	right: 0px;
	top: 0px;
	background: #234537;
	border: 0px;
	padding: 13px 20px;
	color: #fff;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
}

.navbar-menu{
	background-color: #d49925;
}
.navbar-menu .navbar-expand-lg .navbar-nav {
	display: flex;
	justify-content: start;
	align-content: center;
}
.navbar-menu .phone-btn:hover {
	background-color: #234537;
}
.navbar-menu .navbar{
	padding: 0px;
	width: 80%;
	float: left;
}
.navbar-menu .dsa-phone {
	width: 20%;
	float: left;
	display: flex;
	justify-content: end;
}
.navbar-menu .phone-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	right: 0;
	background-color: #eeb03f;
	width: 220px;
	height: 50px;
	font-size: 18px;
	line-height: 14px;
	color: #fff;
	font-weight: 700;
	font-family: "Poppins";
	text-decoration: none;
	cursor: pointer;
	transition:all 0.5s ease;
}

.navbar-menu .nav-item {
	padding: 10px 2px;
}
.navbar-menu .phone-btn .fa-phone {
	margin-right: 10px;
	font-weight: 700;
}
.navbar-menu .cut-nav-row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(90% - 0px);
	margin: 0 auto;
}
.navbar-menu .navbar-expand-lg .navbar-nav .nav-link {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	font-size: 18px;
	line-height: 14px;
	color: #ffffff !important;
	font-weight: 400;
	font-family: "Poppins";
	text-transform: uppercase;
	transition:all 0.5s ease;
}
.navbar-menu .navbar-expand-lg .navbar-nav .active .nav-link{
	font-weight: 600 !important;
}
.navbar-menu .navbar-expand-lg .navbar-nav .dropdown-menu {
	background-color: #d49925 !important;
	color:#fff;
}
.navbar-menu .navbar-expand-lg .navbar-nav .dropdown-menu .dropdown-item {
    font-size: 18px;
    color: #ffffff !important;
    font-weight: 400;
    font-family: "Poppins";
    text-transform: uppercase;
    transition: all 0.5s ease;
    text-align: center;
}
.navbar-menu .navbar-expand-lg .navbar-nav .dropdown-menu .dropdown-item:focus, .navbar-menu .navbar-expand-lg .navbar-nav .dropdown-menu .dropdown-item:hover {
	text-decoration: none;
	background-color: #eeb03f;
}


/*Banner section style here*/
.dsa-banner-sec {
	background-image: url(../images/banner-bg.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center;
	padding-top: 50px;
}
.dsa-banner-sec .cust-dsa-banner {
	width: calc(90% - 0px);
	margin: 0 auto;
}
.dsa-banner-sec .dsa-content{
	padding-top: 120px;
	padding-bottom: 120px;
}
.dsa-banner-sec .dsa-content .dsa-sub-heading {
    font-size: 60px;
    line-height: 83px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Poppins";
}
.dsa-banner-sec .dsa-content .dsa-title {
    font-size: 60px;
    line-height: 83px;
    color: #ffffff;
    font-weight: 600;
    font-family: "Poppins";
}
.dsa-banner-sec .dsa-content p {
    font-size: 30px;
	color: #ffffff;
	font-weight: 500;
	font-family: "Poppins";
	line-height: 82px;
}
.dsa-banner-sec .dsa-content .btn-banner {
	width: 100%;
	margin-top: 30px;
}
.dsa-banner-sec .dsa-content .btn-banner .btn-appointment {
    font-size: 20px;
    line-height: 19px;
    color: #ffffff;
    font-weight: 700;
    font-family: 'Noto Sans', sans-serif;
    background-color: #e4a732;
    cursor: pointer;
    transition: all 0.5s ease;
    text-decoration: none;
    border: 1px solid #e4a732;
    width: 300px;
	height: 64px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}
.dsa-banner-sec .dsa-content .btn-banner .btn-appointment:hover {
	background-color: #fff;
	color: #000;
	border: 1px solid #fff;
}
.dsa-banner-sec .right-img {
	text-align: right;
	margin-right: 50px;
}
.dsa-banner-sec .right-img .doctor {
	position: relative;
	bottom: 0;
	left: 0;
	right: 0;
}

/*Why choose us section style here*/
.dsa-why-choose {
	padding-top: 100px;
	padding-bottom: 100px;
}
.dsa-why-choose .cut-row {
    width: calc(95% - 0px);
    margin: 0 auto;
    display: flex;
	align-items: center;
}
.dsa-why-choose .why-choose-us {
	width: 98%;
}
.dsa-why-choose h2 {
	font-size: 40px;
	color: #244236;
	font-weight: 400;
	font-family: "Poppins";
}
.dsa-why-choose p{
	font-size: 18px;
	line-height: 30px;
	color: #201d1d;
	font-weight: 300;
	font-family: "Poppins";
}
.dsa-why-choose ul{
	margin-bottom: 0px;
}
.dsa-why-choose ul li{
	font-size: 18px;
	line-height: 35px;
	color: #201d1d;
	font-weight: 300;
	font-family: "Poppins";
	list-style: none;
	padding-left: 20px;
	position: relative;
}
.dsa-why-choose ul li::before {
    font-family: "FontAwesome";
	font-weight: 400;
	content: "\f105";
	position: absolute;
	left: 0;
	font-size: 27px;
	color: #244236;
}
/*India best ayurvedic section style here*/
.dsa-india-ayurvedic-sec {
	padding-bottom: 100px;
}
.dsa-india-ayurvedic-sec h2{
	font-size: 40px;
	line-height: 55px;
	color: #244236;
	font-weight: 400;
	font-family: "Poppins";
	text-align: center;
	margin-bottom: 50px;
}
.dsa-india-ayurvedic-sec .cust-iba {
	width: calc(90% - 20px);
	margin: 0 auto;
}
.dsa-india-ayurvedic-sec .cust-iba .iba-box {
	padding: 40px;
	min-height: 670px;
}
.dsa-india-ayurvedic-sec .cust-iba .box1{
	background-image: url(../images/iba-bg1.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.dsa-india-ayurvedic-sec .cust-iba .box2 {
  background-image: url(../images/iba-bg2.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.dsa-india-ayurvedic-sec .cust-iba .box3 {
  background-image: url(../images/iba-bg3.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.dsa-india-ayurvedic-sec .cust-iba .iba-box .wht-space {
	height: 294px;
}
.dsa-india-ayurvedic-sec .cust-iba .iba-box h3{
	font-size: 30px;
	line-height: 55px;
	color: #ffffff;
	font-weight: 600;
	font-family: "Poppins";
}
.dsa-india-ayurvedic-sec .cust-iba .iba-box p{
	font-size: 20px;
	line-height: 31px;
	color: #ffffff;
	font-weight: 300;
	font-family: "Poppins";
}
.dsa-india-ayurvedic-sec .btn-ayurvedic{
	text-align: center;
	margin-top: 50px;
}
.dsa-india-ayurvedic-sec .btn-ayurvedic .btn-appointment{
	font-size: 20px;
	line-height: 19px;
	color: #ffffff;
	font-weight: 700;
	font-family: 'Noto Sans', sans-serif;
	background-color: #e4a732;
	cursor: pointer;
	transition: all 0.5s ease;
	text-decoration: none;
	text-transform: uppercase;
	border: 1px solid #e4a732;
	width: 300px;
	height: 64px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}
.dsa-india-ayurvedic-sec .btn-ayurvedic .btn-appointment:hover {
	background-color: #234537;
	color: #fff;
	border: 1px solid #234537;
}

/*Personalised Ayurvedic Treatment section style here*/
.pl-ayurvedic-treatment-sec {
	background-color: #f7f7f7;
	padding-top: 100px;
	padding-bottom: 100px;
}
.pl-ayurvedic-treatment-sec .pl-tp-content h2{
	font-size: 40px;
	line-height: 55px;
	color: #244236;
	font-weight: 400;
	font-family: "Poppins";
	text-align: center;
}

.pl-ayurvedic-treatment-sec .pl-tp-content p{
	font-size: 18px;
	line-height: 35px;
	color: #201d1d;
	font-weight: 300;
	font-family: "Poppins";
	text-align: center;
	width: 61%;
	margin:0 auto;
}
.pl-ayurvedic-treatment-sec .cst-pl-row {
	width: calc(90% - 0px);
	margin: 0 auto;
}
.pl-ayurvedic-treatment-sec .cst-boxies {
	display: flex;
	justify-content: space-around;
	width: 100%;
	margin-top: 50px;
	text-align: center;
}

.pl-ayurvedic-treatment-sec .cst-boxies .treatment-box h3{
	font-size: 30px;
	line-height: 30px;
	color: #244236;
	font-weight: 600;
	font-family: "Poppins";
	margin-top: 20px;
}
.pl-ayurvedic-treatment-sec .cst-boxies .treatment-box p{
	font-size: 20px;
line-height: 30px;
color: #181616;
font-weight: 300;
font-family: "Poppins";
text-align: center;
}
/*About us section style here*/
.about-us-sec {
	padding-top: 100px;
	padding-bottom: 100px;
}
.about-us-sec iframe {
	border: 0px;
	max-width: 100%;
	width: calc(100% - 40px);
}
.about-us-sec .custum-row {
	width: calc(90% - 0px);
	margin: 0 auto;
}
.about-us-sec .tp-abt-content{
	margin-bottom: 50px;
}
.about-us-sec .tp-abt-content h2 {
	font-size: 40px;
	line-height: 55px;
	color: #244236;
	font-weight: 400;
	font-family: "Poppins";
	text-align: center;
}
.about-us-sec .tp-abt-content p{
	font-size: 18px;
	line-height: 35px;
	color: #201d1d;
	font-weight: 300;
	font-family: "Poppins";
	text-align: center;	
}
.about-us-sec .about-right-content p {
	font-size: 20px;
	line-height: 34px;
	color: #201d1d;
	font-weight: 400;
	font-family: "Poppins";
	margin-bottom: 5px;
}
.about-us-sec .about-right-content .btn-about {
	margin-top: 30px;
}
.about-us-sec .btn-about .btn-aboutus {
	font-size: 20px;
	line-height: 19px;
	color: #ffffff;
	font-weight: 700;
	font-family: 'Noto Sans', sans-serif;
	background-color: #e4a732;
	cursor: pointer;
	transition: all 0.5s ease;
	text-decoration: none;
	text-transform: uppercase;
	border: 1px solid #e4a732;
	width: 216px;
	height: 75px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}
.about-us-sec .btn-about .btn-aboutus:hover {
	background-color: #234537;
	color: #fff;
	border: 1px solid #234537;
}
/*Happy world section style here*/

.happy-world-sec {
	background-image: url(../images/world-happy-bg.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	padding-top: 100px;
	padding-bottom: 100px;
}
.happy-world-sec .hw-content {
	text-align: center;
}
.happy-world-sec .hw-content h2{
	font-size: 60px;
	color: #ffffff;
	font-weight: 600;
	font-family: "Poppins";
	margin-top: 30px;
	margin-bottom: 20px;
}
.happy-world-sec .hw-content p{
	font-size: 35px;
	color: #ffffff;
	font-weight: 400;
	font-family: "Poppins";
	text-align: center;
	margin-bottom: 0px;
}
/*dr mukesh sharda section style here*/

.dr-mukesh-sharda-sec {
	padding-top: 100px;
	background-color: #f7f7f7;
}
.dr-mukesh-sharda-sec .cust-dr {
	width: calc(90% - 0px);
	margin: 0 auto;
}
.dr-mukesh-sharda-sec p {
	font-size: 24px;
	line-height: 51px;
	color: #244236;
	font-weight: 500;
	font-family: "Poppins";
	margin-bottom: 30px;
}
.dr-mukesh-sharda-sec .dr-img-left img{
	position: absolute;
	bottom: 0px;
}
.dr-mukesh-sharda-sec .sign-area {
    float: right;
}
.dr-mukesh-sharda-sec .sign-area p{
    font-style: italic;
}
/*Our Product section style here*/
.our-product {
    padding-top: 100px;
    padding-bottom: 100px;
}
.prod-tp-content{
	margin-bottom: 50px;
}
.our-product .prod-tp-content h2 {
	font-size: 40px;
	line-height: 55px;
	color: #244236;
	font-weight: 400;
	font-family: "Poppins";
	text-align: center;
}
.our-product .prod-tp-content p{
	font-size: 18px;
	line-height: 35px;
	color: #201d1d;
	font-weight: 300;
	font-family: "Poppins";
	text-align: center;
}
.our-product .cust-product {
	width: calc(90% - 0px);
	margin: 0 auto;
}
.our-product .cust-product .prod-box {
	width: calc(95% - 20px);
	margin: 0 auto;
	padding: 40px;
	box-shadow: 1px 2px 14px #eee;
	text-align: center;
}
.our-product .cust-product .prod-box .price {
	padding: 35px 18px;
	margin-bottom: 0px;
	text-align: left;
	border-top: 1px solid #eee;
	margin-top: 40px;
	list-style: none;
}
.our-product .cust-product .prod-box .price .brand-name {
	font-size: 15px;
	line-height: 25px;
	color: #767676;
	font-weight: 400;
	font-family: "Poppins";
}
.our-product .cust-product .prod-box .price .header {
	font-size: 20px;
	line-height: 35px;
	color: #244236;
	font-weight: 600;
	font-family: "Poppins";
}
.our-product .cust-product .prod-box .price .rate {
	font-size: 30px;
	line-height: 35px;
	color: #244236;
	font-weight: 600;
	font-family: "Poppins";
}
.our-product .cust-product .prod-box .price .rating{
	padding-top: 20px;
	padding-bottom: 20px;
}
.our-product .cust-product .prod-box .price .rating .checked {
	color: orange;
}
.our-product .cust-product .prod-box .price .btn-shop-know {
	font-size: 20px;
	line-height: 19px;
	color: #ffffff;
	font-weight: 700;
	font-family: 'Noto Sans', sans-serif;
	background-color: #e4a732;
	cursor: pointer;
	transition: all 0.5s ease;
	text-decoration: none;
	text-transform: uppercase;
	border: 1px solid #e4a732;
	width: 150px;
	height: 50px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}
.our-product .cust-product .prod-box .price .btn-shop-know:hover {
	background-color: #234537;
	color: #fff;
	border: 1px solid #234537;
}

/*Testimonial section style here*/
.client-testimonial {
	padding-top: 100px;
	padding-bottom: 100px;
	background-color: #f7f7f7;
}
.cl-test{
	position: relative;
	width: 100%;
}

.cl-test .cl-suedo {
	position: absolute;
	left: 0;
	right: 0;
	font-size: 164px;
	color: #eceeed;
	font-weight: 600;
	font-family: "Poppins";
	text-align: center;
	z-index: 1;
	top: -95px;
	text-transform: uppercase;
}
.client-testimonial .client-test-title {
	font-size: 40px;
	line-height: 55px;
	color: #244236;
	font-weight: 400;
	font-family: "Poppins";
	text-align: center;
	margin-bottom: 50px;
	z-index: 9999;
	position: relative;
}
.client-testimonial .testimonial-content img {
	width: 150px !important;
	border-radius: 50%;
	margin: 0 auto;
}
.testimonial-content {
	text-align: center;
}
.testimonial-content ul li {
	list-style: none;
}
.testimonial-content ul li .checked {
    color: orange;
    font-size: 25px;
	padding-top: 20px;
}
.testimonial-content h3{
	font-size: 40px;
	line-height: 55px;
	color: #244236;
	font-weight: 600;
	font-family: "Poppins";
}
.testimonial-content p{
	font-size: 20px;
	line-height: 35px;
	color: #244236;
	font-weight: 400;
	font-family: "Poppins";
	text-align: center;
	width: 69%;
	margin: 0 auto;
}
#client-test .owl-dots {
    text-align: center;
    margin-top: 40px;
}
#client-test .owl-dot {
    background: #ddd ;
    padding: 10px !important;
    margin-right: 4px;
    border-radius: 50%;
}
#client-test .owl-dot.active {
	background: #2a110c;	
}

/*Latest post section style here*/
.latest-post-sec {
	position: relative;
	bottom: -120px;
}
.latest-post-sec .lp-content{
	margin-bottom: 50px;
}
.latest-post-sec .lp-content  h2{
	font-size: 40px;
	line-height: 55px;
	color: #244236;
	font-weight: 400;
	font-family: "Poppins";
	text-align: center;
}
.latest-post-sec .lp-content p{
	font-size: 18px;
	line-height: 35px;
	color: #201d1d;
	font-weight: 300;
	font-family: "Poppins";
	text-align: center;
}
.latest-post-sec .custom-lp {
	width: calc(90% - 0px);
	margin: 0 auto;
}
.latest-post-sec .custom-lp img{
	width: 100%;
}
.latest-post-sec .lp-post {
	background-color: #244236;
	width: calc(100% - 20px);
	margin: 0 auto;
	transition: all 0.5s ease;
}
.latest-post-sec .lp-post:hover {
	background-color: #e4a732;
}
.latest-post-sec .lp-post .post-content {
	padding: 40px;
}
.latest-post-sec .lp-post .post-content h3 {
	font-size: 22px;
	line-height: 35px;
	color: #ffffff;
	font-weight: 600;
	font-family: "Poppins";
}
.latest-post-sec .lp-post .post-content p {
	font-size: 18px;
	line-height: 30px;
	color: #ffffff;
	font-weight: 300;
	font-family: "Poppins";
}
.latest-post-sec .lp-post .post-content .ptn-post {
	font-size: 18px;
	line-height: 50px;
	color: #ffffff;
	font-weight: 700;
	font-family: "Poppins";
	text-decoration: none;
	cursor: pointer;
}
.latest-post-sec .lp-post .post-content .ptn-post:hover {
	color: #fff;
	text-decoration: none;
}
/*Get in touch section here*/
.get-in-touch-sec {
	padding-top: 220px;
	padding-bottom: 100px;
	background: #f7f7f7;
}
.get-in-touch-sec .custom-get {
	width: calc(85% - 0px);
	margin: 0 auto;
	display: flex;
	align-items: center;
}
.get-in-touch-sec .custom-get h2 {
	font-size: 40px;
	line-height: 55px;
	color: #244236;
	font-weight: 600;
	font-family: "Poppins";
	text-align: left;
}
.get-in-touch-sec .custom-get p{
	font-size: 20px;
	line-height: 33px;
	color: #211f1f;
	font-weight: 300;
	font-family: "Poppins";
	width: 90%;
}
.get-in-touch-sec .custom-get .email .email-icon {
	font-size: 20px;
	line-height: 33px;
	color: #244236;
	font-weight: 500;
	font-family: "Poppins";
}
.get-in-touch-sec .custom-get .email .email-icon .fa-envelope, .get-in-touch-sec .custom-get .phone-icon .fa-phone {
	font-size: 30px;
	border: 1px solid;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	padding-left: 14px;
	padding-top: 11px;
	margin-right: 10px;
}
.get-in-touch-sec .custom-get .phone-icon {
	font-size: 20px;
	line-height: 33px;
	color: #244236;
	font-weight: 500;
	font-family: "Poppins";
}
.get-in-touch-sec .custom-get .email {
	padding-top: 60px;
	margin-bottom: 40px;
}

.get-in-touch-sec .get-form {
	background: #fff;
	padding: 50px;
}
.get-in-touch-sec .get-form h3 {
	font-size: 30px;
	line-height: 55px;
	color: #244236;
	font-weight: 600;
	font-family: "Poppins";
}
.get-in-touch-sec .get-form #name, .get-in-touch-sec .get-form #phone, .get-in-touch-sec .get-form #email {
	font-size: 20px;
	line-height: 19px;
	color: #244236;
	font-weight: 300;
	font-family: "Poppins";
	width: 100%;
	height: 70px;
	padding: 20px;
	margin-bottom: 20px;
	border: 1px solid #c7c7c7;
}
.get-in-touch-sec .get-form #story {
	font-size: 20px;
	line-height: 19px;
	color: #244236;
	font-weight: 300;
	font-family: "Poppins";
	width: 100%;
	padding: 20px;
	height: 150px;
	margin-bottom: 20px;
	border: 1px solid #c7c7c7;
}
.get-in-touch-sec .get-form .submit {
	font-size: 30px;
	line-height: 19px;
	color: #ffffff;
	font-weight: 600;
	font-family: "Poppins";
	background-color: #e4a732;
	width: 100%;
	height: 65px;
	text-transform: uppercase;
	border: 1px solid #e4a732;
	transition: all 0.5s ease;
}
.get-in-touch-sec .get-form .submit:hover {
    background-color: #244236;
    border: 1px solid #244236;
}




/*Footer content style here*/
footer.dsa-foo-sec{
	background-image: url(../images/foo-bg.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position:center;	
	background-attachment: fixed;
	padding-top:50px;
}
.dsa-foo-sec .foo-social-icon {
	text-align: right;
	display: flex;
	justify-content: end;
	align-items: center;
}
.dsa-foo-sec .foo-social-icon a i{
	font-size: 20px;
	color: #fff;
	border: 1px solid;
	border-radius: 50%;
	width: 35px;
	height: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 5px;
}
.dsa-foo-sec .foo-social-icon a{
	text-decoration: none;
	transition: all 0.5s ease;
}
.dsa-foo-sec .foo-social-icon a:hover i{
	color: #d39923;
}

.dsa-foo-sec .foo-logo {
	text-align: center;
}
.dsa-foo-sec .foo-logo .cp-logo {
    width: 175px;
}
.dsa-foo-sec .foo-logo p{
	text-align: center;
	font-size: 18px;
	line-height: 33px;
	color: #ffffff;
	font-weight: 300;
	font-family: "Poppins";
	text-align: center;
	margin-top: 20px;
}

.dsa-foo-sec .cust-address {
	padding-top: 30px;
	padding-bottom: 30px;
	width: calc(90% - 0px);
	margin: 0 auto;
}
.dsa-foo-sec .foo-address-box{
	text-align: center;
}
.dsa-foo-sec .foo-address-box p{
	font-size: 18px;
	line-height: 33px;
	color: #ffffff;
	font-weight: 300;
	font-family: "Poppins";
	text-align: center;
	margin-top: 20px;
}
nav.foo-navbar .navbar-nav {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
	border-top: 1px solid #345344;
	padding-top: 10px;
	padding-bottom: 0px;
}
nav.foo-navbar .navbar-nav .nav-link {
    padding:15px;
    font-size: 18px;
    line-height: 14px;
    color: #ffffff !important;
    font-weight: 400;
    font-family: "Poppins";
    text-transform: uppercase;
    transition: all 0.5s ease;
}
nav.foo-navbar .navbar-nav .active .nav-link {
	font-weight: 600 !important;
}

.cp-right-row{
	padding-top: 10px;
	padding-bottom: 10px;
}
.cp-right-row p {
	font-size: 14px;
	color: #ffffff;
	font-weight: 300;
	font-family: "Poppins";
	margin-bottom: 0px;
	text-align: center;
	letter-spacing: 1px;
}